<p id="notice"><%= notice %></p>

<p>
  <b>Ask a question:</b>
  <%= @question.ask_a_question %>
</p>

<p>
  <b>Answer the question:</b>
  <%= @question.answer_the_question %>
</p>


  <% @question.users.each do |user|%>
    <%= user.email %>
  <%end%>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
